<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>测试一下</title>
<link rel="stylesheet" type="text/css" href="../css/tron.css">
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
<body id="body" class="fully">
<div class="container fully" id="container" data-id="1">
	<div class="titleimg">
		<img src="../img/4.jpg">
	</div>	
	<div class="scroll">
		<a class="return" href="./list.html">[返回]</a>
		<div class="head">长白山下 野生松子</div>
		<a class="bpic" href="./detail.html">
			<div class="bframe"></div>
			<div class="lboxf">
				<div class="lboxs">
					<div class="lboxt" id="pic" style="background-image: url(../img/2.jpg);"></div>
				</div>
			</div>
			<div class="bname">
				<p>三川</p>
				<p>二连</p>
			</div>
			<div class="picborder">
				<img src="../img/dbpframe.png">
			</div>		
		</a>
<!-- 		<a class="ctip" href="./comment.html" target="_self">[ 共182条评论 ]</a> -->
		<div class="btns clearfix">
			<!-- <a class="btn bback" href="./list.html"></a> -->
			<a class="btn bcomment" href="./comment.html"></a>
			<div class="btn bshare" id="share"></div>
			<div class="bdsharebuttonbox">
				<a href="#" class="bds_tsina" data-cmd="tsina"></a>
			</div>
		</div>
		<div class="btime">
			<div class="ltimel"></div>
			<span>项目介绍</span>
			<div class="ltimer"></div>
		</div>
		<div class="btext">Fineck通过蓝牙4.0连接智能手机，现在采用的是iOS的系统，安卓系统还在研发中。采用硅和钛的材质，内置传感器，续航能力达七天，只需要一个小时就可以充满电。表面是防水的，但暂时不确定等级。
			<a class="detail" target="_self" href="./detail.html">[详情]</a>
		</div>
		<div class="btime">
			<div class="ltimel"></div>
			<span>支持回报</span>
			<div class="ltimer"></div>
		</div>
		<div class="btext">感谢您的支持！新年贺岁绝无仅有的价格，您只需399元购买到Fineck风趣智能颈环（颜色：钛灰金）1台，纯钛金属，颈椎神器，拉风又有趣！（尺码适宜体重：M，40-55KG；55-75KG；XL，75KG以上；请留言注明，未注明按L码发货，详见尺码表）。</div>
		<div class="btime">
			<div class="ltimel"></div>
			<span>创始人介绍</span>
			<div class="ltimer"></div>
		</div>
		<div class="btext">京风趣智能颈环CEO，ERP领域资深技术人员、管理人士。多年的软件开发及软件管理经验让他在软件建设，流程再造方面有着极丰富的经验，尤其是在功能应用系统领域拥有很好的知名度和信誉度。</div>
		<div class="wpic">
			<img src="../img/4.jpg">
		</div>
		<div class="wpic">
			<img src="../img/4.jpg">
		</div>
		<div class="wpic">
			<img src="../img/4.jpg">
		</div>
	</div>	
	<div class="bbtm" id="support">

		<!--没结束用这个-->
		<div class="bspt"></div>		
		<div class="count clearfix">
			<div class="countl">
				<p>距离投票</p>
				<p>结束还剩</p>
			</div>
			<div class="countr">
				<p>
					<span id="date"></span>天
					<span id="hour"></span>小时
				</p>
				<p>
					<span id="min"></span>分
					<span id="sec"></span>秒
				</p>
			</div>			
		</div>
		<!--倒计时-->
		<script type="text/javascript" src="../js/count.js"></script>
		<script type="text/javascript">new Count(1429899720477);</script>
		<!--倒计时-->
		<!--弹层-->
		<script type="text/javascript" src="../js/mask.js"></script>
		<script type="text/javascript" src="../js/shade.js"></script>
		<script type="text/javascript">
			$("#support").on("click", function(){
				var id = $("#container").attr("data-id");
				if($.cookie("supported" + id)){
					new Mask("对不起，您已投过票了");
				}else{
					new Shade();
				}
			});
		</script>
		<!--弹层-->
		<!--没结束用这个-->


		<!--结束了用这个-->
		<!--		
		<div class="countover">
			<div class="overl"></div>
			<span>众筹已结束</span>
			<div class="overr"></div>
		</div>
		-->
		<!--结束了用这个-->
	</div>
</div>
<script type="text/javascript" src="../js/center.js"></script>
<script type="text/javascript">new Center("#support");</script>
<script type="text/javascript" src="../js/guide.js"></script>
<script type="text/javascript">
$("#share").on("click", function(){ new Guide(); });
</script>
<div style="display:none"> 
	<script src="http://s4.cnzz.com/z_stat.php?id=1254065855&web_id=1254065855" language="JavaScript"></script>
</div>
<script>
	window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["tsina"],"viewText":"分享到：","viewSize":"32"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>
