<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/tron.css">
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
<script type="text/javascript" src="../js/jquery.cookie.js"></script>
</head>
<body id="body" class="fully">
<div class="container fully" id="container" data-id="1">
	<div class="titleimg">
		<img src="../img/4.jpg">
	</div>
	<div class="scroll">
		<a class="return" href="./brief.html">[返回]</a>
		<div class="head">长白山下 野生松子</div>
		<!-- 单张图 -->
		<!--
		<div class="bpic">
			<div class="lboxf">
				<div class="lboxs">
					<div class="lboxt" id="pic" style="background-image: url(../img/2.jpg);"></div>
				</div>
			</div>	
		</div>
		-->
		<!-- 单张图 -->

		<!-- 多张图 -->
		<div style="height:30px;"></div>
		<div class="grid">
			<div class="dpic dpic0">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
			<div class="dpic dpic1">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
			<div class="dpic dpic2">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
			<div class="dpic dpic3">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
		</div>

		<div class="grid">
			<div class="dpic dpic0">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
			<div class="dpic dpic1">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
			<div class="dpic dpic2">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
			<div class="dpic dpic3">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="dpic dpic0">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
			<div class="dpic dpic1">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
				<div class="picborder">
					<img src="../img/dbpframe.png">
				</div>
			</div>
		</div>
		<div style="height:60px;"></div>

		<!--
		<div class="line odd clearfix">
			<div class="dpic left">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
			</div>
			<div class="dpic right">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
			</div>
		</div>	
		<div class="line even clearfix">			
			<div class="dpic left">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
			</div>
			<div class="dpic right">
				<div class="lboxf">
					<div class="lboxs">
						<div class="lboxt" style="background-image: url(../img/2.jpg);"></div>
					</div>
				</div>
			</div>		
		</div>		
		<div style="height:60px;"></div>
		-->
		<!-- 多张图 -->
		
		<div class="btime">
			<div class="ltimel"></div>
			<span>项目详情</span>
			<div class="ltimer"></div>
		</div>
		<div class="btext">Fineck通过蓝牙4.0连接智能手机，现在采用的是iOS的系统，安卓系统还在研发中。采用硅和钛的材质，内置传感器，续航能力达七天，只需要一个小时就可以充满电。表面是防水的，但暂时不确定等级。感谢您的支持！新年贺岁绝无仅有的价格，您只需399元购买到Fineck风趣智能颈环（颜色：钛灰金）1台，纯钛金属，颈椎神器，拉风又有趣！（尺码适宜体重：M，40-55KG；55-75KG；XL，75KG以上；请留言注明，未注明按L码发货，详见尺码表）。</div>
	</div>	
	<div class="dbtm">

		<!--没结束用这个-->		
		<div class="dspt" id="support"></div>
		<script type="text/javascript" src="../js/mask.js"></script>
		<script type="text/javascript" src="../js/shade.js"></script>
		<script type="text/javascript">
			$("#support").on("click", function(){
				var id = $("#container").attr("data-id");
				if($.cookie("supported" + id)){
					new Mask("对不起，您已投过票了");
				}else{
					new Shade();
				}
			});
		</script>
		<!--没结束用这个-->


		<!--结束了用这个-->	
		<!--
		<div class="countover">
			<div class="overl"></div>
			<span>众筹已结束</span>
			<div class="overr"></div>
		</div>
		-->
		<!--结束了用这个-->
	</div>
</div>
<script type="text/javascript">
;(function(){
	if(!$(".grid").length) return;
	var lastGrid = $(".grid").last(),
		picNum = lastGrid.children(".dpic").length;
	if(picNum == 1 || picNum == 2){
		lastGrid.addClass("half");
	}	
})();
</script>
</body>
</html>
