<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/tron.css">
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body" class="fully">
<div class="container fully" id="container">
	<div class="titleimg">
		<img src="../img/4.jpg">
	</div>
	<div class="logo" id="logo"></div>
	<div class="head" style="margin-top:0">创战英雄众筹项目</div>
	<div class="lbox" id="box"></div>
	<div class="arrowbox">
		<div class="arrow" id="arrow"></div>	
	</div>	
</div>
<script type="text/javascript">
window.data = [
	{
		title : "长白山下 野生松子",
		pic : "../img/2.jpg",
		time : "1月6日 最新上线",
		url : "http://xuan.news.cn",
		startTime : 1416363200000,
		endTime : 1417363200000
	},{
		title : "test test test",
		pic : "../img/1.jpg",
		time : "2月16日 最新上线",
		url : "http://my.xuan.news.cn",
		startTime : 1417363200000,
		endTime : 1448899200000
	},{
		title : "测试测试 野生松子",
		pic : "../img/3.jpg",
		time : "1月16日 最新上线",
		url : "http://www.baidu.com",
		startTime : 1448899200000,
		endTime : 1449899200000
	}
];
</script>
<script type="text/javascript" src="../js/center.js"></script>
<script type="text/javascript" src="../js/page.js"></script>
<script type="text/javascript">new Page(window.data);</script>
<script type="text/javascript" src="../js/arrow.js"></script>
<script type="text/javascript">new Arrow();</script>
<script type="text/javascript" src="../js/turn.js"></script>
<script type="text/javascript">var turn = new Turn(data);</script>
</body>
</html>
