<!DOCTYPE HTML>
<html class="fully">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title></title>
<link rel="stylesheet" type="text/css" href="../css/tron.css">
<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
</head>
<body id="body" class="fully">
<div class="container fully" id="container">
	<div class="head">
		<div class="headm">长白山下 野生松子</div>
		<div class="headl"></div>		
		<div class="headr"></div>
	</div>
	<div class="scroll">
		<div class="bpic">
			<div class="lboxf">
				<div class="lboxs">
					<div class="lboxt" id="pic" style="background-image: url(../img/1.jpg);"></div>
				</div>
			</div>
			<div class="bname">
				<p>三川</p>
				<p>二连</p>
			</div>		
		</div>
		<div class="btime">
			<div class="ltimel"></div>
			<span>项目介绍</span>
			<div class="ltimer"></div>
		</div>
		<div class="btext">Fineck通过蓝牙4.0连接智能手机，现在采用的是iOS的系统，安卓系统还在研发中。采用硅和钛的材质，内置传感器，续航能力达七天，只需要一个小时就可以充满电。表面是防水的，但暂时不确定等级。
			<a class="detail" target="_self" href="./detail.html">[详情]</a>
		</div>
		<div class="btime">
			<div class="ltimel"></div>
			<span>支持回报</span>
			<div class="ltimer"></div>
		</div>
		<div class="btext">感谢您的支持！新年贺岁绝无仅有的价格，您只需399元购买到Fineck风趣智能颈环（颜色：钛灰金）1台，纯钛金属，颈椎神器，拉风又有趣！（尺码适宜体重：M，40-55KG；55-75KG；XL，75KG以上；请留言注明，未注明按L码发货，详见尺码表）。</div>
		<div class="btime">
			<div class="ltimel"></div>
			<span>创始人介绍</span>
			<div class="ltimer"></div>
		</div>
		<div class="btext">京风趣智能颈环CEO，ERP领域资深技术人员、管理人士。多年的软件开发及软件管理经验让他在软件建设，流程再造方面有着极丰富的经验，尤其是在功能应用系统领域拥有很好的知名度和信誉度。</div>
	</div>	
	<div class="bbtm" id="bbtm">

		<!--没结束用这个-->
		<div class="bspt"></div>		
		<div class="count clearfix">
			<div class="countl">
				<p>距离众筹</p>
				<p>结束还剩</p>
			</div>
			<div class="countr">
				<p>
					<span id="date"></span>天
					<span id="hour"></span>小时
				</p>
				<p>
					<span id="min"></span>分
					<span id="sec"></span>秒
				</p>
			</div>			
		</div>
		<script type="text/javascript" src="../js/count.js"></script>
		<script type="text/javascript">new Count(1429899720477);</script>
		<!--没结束用这个-->

		<!--结束了用这个-->
		<!--		
		<div class="countover">众筹已结束</div>
		-->
		<!--结束了用这个-->
	</div>

	
	<div class="shade fully">
		<div class="mist fully"></div>
		<div class="mbox">
			<div class="mtitle">
				当你参与投票时，将有机会参与该创业团队抽奖。
				<span class="detail" id="detail">[详情]</span>
			</div>
			<div class="slt sltl selected">全力支持</div>
			<div class="slt sltr">略不看好</div>
			<div class="micon"></div>
			<input class="phone" type="text" placeholder="请留下您的联系方式">
			<div class="border"></div>
			<div class="confirm"></div>
			<div class="cancel"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../js/center.js"></script>
<script type="text/javascript">new Center("#bbtm");</script>
</body>
</html>
